body,html{
    text-align: center;
    min-width: 500px;
    min-height:500px;
    width: 100%;
    height: 100%;
}
footer{
    clear: both;
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;

}

header{
    text-align: center;
    font-size:20px;
    padding-bottom: 10px;
    vertical-align: top;
}

header:before,header:after{
    width: 30px;
    height:30px;
    margin: 0 30px;

    content: "  ";
    background: url(img/folder.png) no-repeat;
    background-size:30px 30px;
    display: inline-block;
}


section{
    position: relative;
    float: left;
    border-bottom: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid;
    height: 100%;
    width:50%;
    /*border inside box*/
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    background: rgba(255,255,255,0.9);

}

aside{
    position: relative;
    float: left;
    border-bottom: 1px solid;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    height: 100%;
    width:25%;
}


#container{
    margin: auto;
    width: 75%;
    height: 50%;
    position: relative;
    background: url("img/cat.png") repeat;
    background-size:40% 100%;

}

#pseudo-header{
    border-top:solid 1px;
    border-bottom:solid 1px;
    text-align: right;

}

.left-span{
    margin: 30px;
}
.stick-button{
    clear: left;
    display: block;
    float: left;
    margin-left: 85px;
}

.stick-label{
    clear: both;
    display: block;
    padding-bottom: 10px;
}

.stick-span{
    position:relative;
    float: left;
    width: 75px;
    text-align: right;
}

.stick-input{
    position: relative;
    float: left;
    margin-left: 10px;
}

#login-form{
    width: 50%;
    margin: 2% 2%;
    padding: 2% 2%;
    border: solid 1px;
}

