body,html{
    text-align: center;
    min-width: 500px;
    min-height:500px;
    width: 100%;
    height: 100%;
}
footer{
    clear: both;
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;

}

header{
    text-align: center;
    font-size:20px;
    padding-bottom: 10px;
    vertical-align: top;
}

header:before,header:after{
    width: 30px;
    height:30px;
    margin: 0 30px;

    content: "  ";
    background: url(img/folder.png) no-repeat;
    background-size:30px 30px;
    display: inline-block;
}


section{
    position: relative;
    float: left;
    border-left: 1px solid;
    border-right: 1px solid;
    height: 100%;
    width:50%;

    /*border inside box*/
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    background: rgba(255,255,255,0.9);

}

aside{
    position: relative;
    float: left;
    height: 100%;
    width:25%;
}


#container{
    margin: auto;
    width: 75%;
    height: 50%;
    overflow: hidden;
    position: relative;
    background: url("img/cat.png") repeat;
    background-size:700px 500px;
    border-bottom: 1px solid;
    display:table;
}

#pseudo-header{
    border-top:solid 1px;
    border-bottom:solid 1px;
    text-align: right;

}

.left-span{
    margin: 30px;
}
.stick-button{
    clear: left;
    display: block;
    float: left;
    margin-left: 85px;
}

.stick-label{
    clear: both;
    display: block;
    padding-bottom: 10px;
}

.stick-span{
    position:relative;
    float: left;
    width: 75px;
    text-align: right;
}

.stick-span-left{
    position:relative;
    margin: 20px;
    clear: both;
    float: left;
    width: 100%;
    text-align: left;
    color:#FF0000;
}


th.empty:after{
    content: "" !important;
}

th:after{
    content: url('img/bg.gif');
    margin:auto;
}

th.asc,th.desc{
    background-color: #d3d3d3;
}
th.desc:after{
    content: url('img/desc.gif');
    margin:auto;
}

th.asc:after{
    content: url('img/asc.gif');
    margin:auto;
}

.stick-span-right{
    position:relative;
    margin: 20px;
    clear: both;
    float: right;
    width: 35%;
    text-align: left;
    color:#0000FF;
}

.stick-input{
    position: relative;
    float: left;
    margin-left: 10px;
}
.span-info{
    clear: left;
    position: relative;
    float: left;
    margin-left: 10px;
}

.bordered{
    width: 50%;
    margin: 2% 2%;
    padding: 2% 2%;
    border: solid 1px;
    float: left;
    position: relative;
}


.left-label{
    position: relative;
    float: left;
}

.left-button{
    width: 25%;
    margin-top: 5px;
    clear: both;
    position: relative;
    float: left;
}

.controls-group{
    margin: 10px;
}

.left-input{
    margin: 5px 5px 5px 20px;
    position: relative;
    float: left;
}

.wide{
    margin: auto;
    width: 100%;
}



/*Table styles*/

#content-table {
    margin: 10px auto auto;
    width:95%;
    border-collapse: collapse;
    border-top:solid 1px;
}


tr{
    border-bottom:solid 1px;
}

th:hover{
    cursor: pointer;
    background-color: aliceblue;
}


td{
    padding: 10px;
}
.link-delete{
    color: red;
}
